@font-face {
    font-family: 'Yeseva One';
    src: local('Yeseva One'), 
            local('YesevaOne'),
            url('./../fonts/YesevaOne/YesevaOne.woff2') format('woff2'), 
            url('./../fonts/YesevaOne/YesevaOne.woff') format('woff'),
            url('./../fonts/YesevaOne/YesevaOne.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
