.button {
    border: none;
    border-radius: 2px;
    background-color: $button-color;
    color: $font-color;
    text-transform: uppercase;
    font-family: "FuturaDemiC", sans-serif;
    font-size: 13px;
    cursor: pointer;
    
    &--border {
        background: none;
        border: 1px solid $button-border;
    }
}