.pagination {
    padding: 0;    
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
    list-style: none;

    @media(max-width: $small) {
        display: none;
    }

    &__item {        
        opacity: 0.3;
        width: 14px;
        height: 14px;
        background: url("../images/pagination_point.png") no-repeat;
        cursor: pointer;

        &--active {
            opacity: 1;
        }

        &--prev {
            opacity: 1;
            width: 42px;            
            background: url("../images/pagination_prev.png") no-repeat;
        }
        
        &--next {
            opacity: 1;
            width: 42px;            
            background: url("../images/pagination_next.png") no-repeat;
        }
    }
}