$content-wrapper-width: 1236px;

$huge: 1440px;
$large: 1100px;
$medium: 800px;
//$pre-medium: 600px;
$pre-medium: 500px;
//$small: 375px;
$small: 390px;

//colors
$bg-color1: #131313;
$bg-color2: #ffffff;

$font-color: #ffffff;    
$font-color2: #E3B873;
$font-color3: rgba(255, 255, 255, 0.3);

$button-color: #E3B873;
$button-border: #ffffff;
