* {
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: $maket-width;
    margin: 0 auto;
    background: $bg-color1;
}

.content-wrapper {
    margin: 0 7%; 

    @media(max-width: $small) {
        margin: 0 4.7%;
    }
}