.section-our-team {    
    padding-top: 7%;
    background: linear-gradient(to bottom, $bg-color1 0%, $bg-color1 54%, $bg-color1 54%, $bg-color2 54%, $bg-color2 100%);

    @media (max-width: $small) {
        padding-top: 4%;
        background: $bg-color4;
    }

    &__section-title {
        color: $font-color;
    }

    &__container {
        margin-top: 6.5%;
        display: flex;
        justify-content: space-between;
        padding: 0 107px;

        @media(max-width: $huge) {            
            flex-direction: column;  
            padding: 0;
        }       
    }    

    &__section-end {
        margin-top: 4.2%;

        @media (max-width: $small) {
            display: none;
        }
    }

    &__describe {
        width: 40%;
        margin: 0 auto;
        margin-top: 0.9%;
        font-family: "FuturaBookC", serif;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
        color: $font-color3;

        @media (max-width: $small) {
            display: none;
        }
    }
}

.team-item {
    position: relative;    
    width: 26.5%;        
    max-width: 305px;
    min-width: 225px;    

    @media (max-width: $huge) {
        width: 100%;
        margin: 0 auto;
        margin-top: 77px;
    }

    @media (max-width: $small) {        
        margin-left: 10%;
        margin-top: 57px;
        width: 90%;
    }

    &__icon {
        position: relative;
        top: -35px;
        left: -35px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 70px;
        height: 70px;
        background: $bg-color3;
        z-index: 1;
    }

    &__employee-photo {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;        
        z-index: 0;             
    }

    &__employee {
        position: relative;
        margin: 0 auto;
        width: 233px;
        background: $bg-color2;        
        margin-top: 80%;
        padding-top: 20px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);        
    }

    &__name {        
        font-family: "Yeseva One", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: $font-color4;        
    }

    &__position {
        margin-top: 4px;
        margin-bottom: 18px;
        font-family: "FuturaBookC", serif;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: $font-color5;
    }

    &__experience {
        height: 44px;
        font-family: "Yeseva One", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 44px;
        text-align: center;        
        text-transform: uppercase;
        color: $font-color;
        background: $bg-color3;
    }
}

