.section-completed-projects {
    position: relative;
    padding-top: 7.3%;
    padding-left: 7%;

    @media(max-width: $medium) {
        padding: 9% 4.7% 4.7%;
    }
}

.section-projects {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1.8fr 225px 225px 1fr;
    grid-template-columns: 35% 51% 51%;
    grid-column-gap: 21px;
    grid-template-areas: 
      ". menu ."
      "caption image image-next"
      "details image image-next"
      "pagination image image-next";
    color: $font-color;

    @media(max-width: $medium) { 
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "caption"
        "image"
        "details";
    }

    &__menu {
        grid-area: menu;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;

        @media(max-width: $medium) { 
            display: none;
        }
    }

    &__item {
        color: $font-color;
        font-size: calcSize(12, 14);
        line-height: calcSize(17, 19);
        text-transform: uppercase;
        font-family: 'Yeseva One', serif;
        cursor: pointer;
    }

    &__caption {
        grid-area: caption;

        @media(max-width: $medium) {
            text-align: center;
        }
    }

    &__title {
        font-family: "Yeseva One", serif;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        font-size: calcSize(22, 27);
        line-height: calcSize(32, 35);
        color: $font-color2;
    }

    &__describe {
        margin-top: 25px;
        padding-right: 20px;
        font-family: "FuturaBookC", sans-serif;
        font-size: calcSize(14, 18);
        line-height: calcSize(22, 29);

        @media(max-width: $medium) {
            padding: 0 13px;
        }
    }

    &__details {
        grid-area: details;
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr 1fr;

        @media(max-width: $medium) {
            margin-top: 10%;
        }

        &-item {
            h3 {
                font-family: "Yeseva One", serif;
                font-size: calcSize(14, 18);
                line-height: calcSize(19, 25);
                text-transform: uppercase;
                color: $font-color2;
            }

            p {
                margin-top: 10px;
                font-family: "FuturaBookC", sans-serif;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

    &__mobile-slider {
        margin-top: 11%;
    }

    &__images {
        grid-area: image;

        @media(max-width: $medium) {
            display: none;
        }
    }
    &__image {
        width: 100%;
        height: auto;
    }

    &__images-next {
        position: relative;
        grid-area: image-next;

        @media(max-width: $medium) { 
            display: none;
        }
    }

    &__button-next {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        margin: auto 0;
        cursor: pointer;
    }

    &__pagination {
        padding: 0;
        grid-area: pagination;
        width: 210px;        

        @media(max-width: $medium) { 
            display: none;
        }
    }    
}
