.section-question {    
    width: 100%;    
    padding-top: 11%;          
    padding-bottom: 4.5%;  
    background:
                url("/asset/images/bg_section_question_left.png") no-repeat left top,
                url("/asset/images/bg_section_question_right.png") no-repeat right top,
                url("/asset/images/bg_section_question_bottom.png") no-repeat center bottom,
                linear-gradient(to bottom, $bg-color2 0%, $bg-color2 28.5%, $bg-color2 28.5%, $bg-color1 28.5%, $bg-color1 100%);    
    
    color: $font-color;                
    background-color: $bg-color2;  

    @media (max-width: $huge) {                
        background: url("/asset/images/bg_section_question_bottom.png") no-repeat;
        background-size: cover;
        background-color: $bg-color4;  
    }
    @media (max-width: $medium) {
        background: $bg-color4;  
        padding-top: 17%;
        padding-bottom: 10.5%;          
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
    }

    &-form {        
        width: 75%; 
        order: 0;       
        max-width: 883px;        
        margin: 0 auto;       
        padding-top: 2.6%;          
        background-color: $bg-color5;  
        
        @media (max-width: $medium) {            
            width: 100%;
            background-color: $bg-color4;  
        }
    }

    &-contact {        
        width: 50%;        
        order: 1;
        margin: 0 auto;        
        margin-top: 4.4%;        
        
        @media (max-width: $medium) {            
            order: 2;
            width: 91%;
            margin-top: 11%;
        }

        p {
            font-family: "Yeseva One", sans-serif;            
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: $font-color2;            
            
            @media (max-width: $medium) {            
                font-size: 18px;
                line-height: 26px;                
            }
        }

    }

    &-map {           
        width: 75%;  
        order: 2;      
        margin: 0 auto;        
        margin-top: 3%;                
        padding-top: 38%;
        background: url("/asset/images/section_contact_map.png") no-repeat;

        @media (max-width: $medium) {            
            order: 1;
            width: 100%;
            padding-top: 74%;
            margin-top: 11%;
        }

        img {
            width: 100%;            
            height: auto;
        }
    }

    &__title {
        //margin-top: 3.6%;
        font-family: "Yeseva One", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        
        @media (max-width: $medium) {                            
            background-color: $bg-color4;
        }
    }
      
    &__form-container {
        padding-top: 5%;
        padding-left: 20%;        
        padding-right: 20%;
        padding-bottom: 3.5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 92px 95px 70px 51px;        
        grid-column-gap: 10%;
        grid-template-areas: 
            "name phone"
            "question question"
            "agree agree"
            "button button";

        @media (max-width: $huge) {
            grid-template-columns: 1fr;
            grid-template-rows: 108px 108px 68px 85px 51px;
            grid-template-areas: 
            "name"
            "phone"
            "question"
            "agree"
            "button";
        }

        @media (max-width: $medium) {
            padding-top: 15%;
            padding-left: 0;        
            padding-right: 0;            
            background-color: $bg-color4;            
        }
    }

    &__text-field {       
        @media (max-width: $medium){
            width: 100%;
        }

        input {
            background-color: $bg-color5;
            
            @media (max-width: $medium) {            
                padding-left: 0;        
                padding-right: 0;
                background-color: $bg-color4;
            }
        }

        label {
            color: $font-color;

            @media (max-width: $medium) {                            
                background-color: $bg-color4;
            }
        }        
    }

    &__checkbox {
        label {
            color: $font-color;
            @media (max-width: $medium) {                            
                background-color: $bg-color4;
            }
        }        
    }

    &__icon-container {
        display: flex;
        margin: 0 auto;
        margin-top: 4%;
        width: 75px;
        justify-content: space-between;
        
        @media (max-width: $medium) {            
            width: 100px;
            margin-top: 7%;
        }
    }

    &__mail {        
        background: url("/asset/images/icon_contact_mail.svg") no-repeat center center;
    }

    &__instagram {        
        background: url("/asset/images/icon_contact_instagram.svg") no-repeat center center;
    }

    &__icon {
        width: 28px;
        height: 28px;        
        background-color: $bg-color3;
        border-radius: 50%;

        @media (max-width: $medium) {            
            width: 39px;
            height: 39px;        
        }
    }
}

.question-form{

    &__name {
        grid-area: name;        
    }

    &__phone {
        grid-area: phone;        
    }

    &__question {
        grid-area: question;
        width: 100%;
    }

    &__agree {
        grid-area: agree;
        justify-self: center;

        @media (max-width: $medium) {            
            justify-self: start;
        }
    }

    &__button {
        grid-area: button;
        justify-self: center;        
        width: 200px;

        @media (max-width: $medium) {
            width: 100%;
        }
    }
}