.section-types-repair {
    position: relative;
    background: $bg-color2;    

    &__title {
        padding-top: 11.8%;
        text-align: center;
        font-family: "Yeseva One", sans-serif;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        color: $font-color4;
        background-color: $bg-color2;

        @media(max-width: $small) {
            padding-top: 24%;
            font-size: 22px;
            line-height: 30px;
        }
    }

    &__logo {
        width: 114px;
        height: 30px;
        margin: 1% auto 2.5%;
        background: url("../images/repair.svg") no-repeat center center;
        background-color: $bg-color2;

        @media(max-width: $small) {
            margin-top: 4.6%;
            margin-bottom: 11%;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;

        @media(max-width: $large) {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        width: 31.7%;
        padding-top: 23.6%;
        text-align: left;

        @media(max-width: $large) {
            width: 50%;
            padding-top: 37%;
            margin: 0 auto;
        }
        @media(max-width: $medium) {
            width: 70%;
            padding-top: 53%;
            margin-bottom: 37px;
        }
        @media(max-width: $small) {
            padding-top: 66%;
            margin-bottom: 37px;
        }

        &-wrapper {
            box-sizing: border-box;
            width: 85%;
            margin: 0 auto;
            padding-top: 24px;
            padding-left: 35px;
            padding-bottom: 55px;
            background: white;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

            @media(max-width: $small) {
                width: 80%;
                margin-left: 0;
                padding-top: 18px;
                padding-left: 30px;
                padding-bottom: 40px;
            }
        }

        h3 {
            font-family: "Yeseva One", sans-serif;
            font-size: 18px;
            line-height: 25px;

            @media(max-width: $small) {
                font-size: 15px;
            }

        }

        ul {
            margin: 0 auto;
            padding-top: 6px;
            padding-left: 17px;
            background: white;
            font-family: "FuturaBookC", serif;
            font-size: 15px;
            line-height: 25px;

            @media(max-width: $medium) {
                font-size: 13px;
                line-height: 22px;
            }

        }

        @media(max-width: $small) {
            width: 100%;
        }

        &--redecorating {
            background: url("../images/bg_repair_redecoration.png") no-repeat;
            background-size: contain;
        }

        &--overhaul {
            background: url("../images/bg_repair_overhaul.png") no-repeat;
            background-size: contain;
        }

        &--designer {
            background: url("../images/bg_repair_designer.png") no-repeat;
            background-size: contain;
        }
    }

    &__price {
        position: relative;
        box-sizing: border-box;
        top: -25px;
        width: 58%;
        height: 54px;
        margin-left: 32px;
        text-align: center;
        font-family: "Yeseva One", sans-serif;
        font-size: 18px;
        line-height: 54px;
        text-transform: uppercase;
        background: #E3B873;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

        @media(max-width: $huge) {
            width: 80%;
        }
        @media(max-width: $small) {
            top: -23px;
            width: 190px;
            height: 40px;
            margin-left: 0;
            font-size: 15px;
            line-height: 40px;
        }
    }

    &__request {
        margin-top: 154px;        
        display: flex;

        @media (max-width: $huge) {
            flex-direction: column;            
        }
        @media (max-width: $large) {
            margin-top: 0;
        }
    }

    &__advantages {
        box-sizing: border-box;
        width: 833px;
        height: 636px;        
        background: url("../images/bg-section-types_repair_request.png") no-repeat 0 -55px, url("../images/ellipse_part1.svg") no-repeat 0 0, url("../images/ellipse_part2.svg") no-repeat 395px 106px, url("../images/ellipse_part3.svg") no-repeat 459px 222px, url("../images/ellipse_part4.svg") no-repeat 427px 388px, url("../images/ellipse_part5.svg") no-repeat 0 542px;   
        padding-left: 317px;

        @media (max-width: $huge) {
         margin: 0 auto;
        }
        @media (max-width: $large) {
            display: none;
        }        
    }

    &__block2 {
        box-sizing: border-box;
        max-width: 506px;
        height: 509px;
        margin-top: 52px;
        padding-top: 27px;
        background: #131313;
        padding-left: 50px;
        padding-right: 50px;
        text-align: right;

        @media (max-width: $huge) {
            margin: 0 auto;
            margin-top: 50px;
        }
        @media (max-width: $medium) {            
            width: 80%;
            height: auto;
            padding-bottom: 27px;
        }
        @media (max-width: $small) {
            display: none;
        }

        h3 {
            width: 60%;
            margin: 0 auto 38px;
            font-family: "FuturaDemiC", serif;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            color: white;
        }
    }

    &__text-field {
        background-color: $bg-color1;
        width: 100%;
        margin-bottom: 50px;
        label {
            color: rgba(255, 255, 255, 0.5);
        }
        input {
            background: $bg-color1;
            color: $font-color;
            border-bottom: 1px solid $bg-color2;
        }
    }

    &__checkbox {
        margin-top: -33px;
        label {            
            color: $font-color;
        }        
    }

    &__button {
        margin-top: 36px;
        width: 213px;
        height: 51px;
    }

    &__economy {
        margin-left: -39px;
        margin-top: 55px;
        height: 100px;
        width: 233px;        
        background: url("../images/pig.svg") no-repeat;
        font-family: "FuturaDemiC", serif;
        font-size: 20px;
        line-height: 25px;
        color: #E3B873;
        padding-left: 117px;
        padding-top: 22px;
        text-align: left;

        @media (max-width: $medium) {
            display: none;
        }
    }

    &__fantasies {
        margin-top: 50px;
    } 
}

.adventages-list {
    counter-reset: item;
    list-style-type: none;
    
    &__item {    
        display: flex;      
        align-items: center;      
        font-family: "FuturaMediumC", serif;
        font-size: 18px;           
        
        &-round {            
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: #E3B873;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
            text-align: center;            
            margin-right: 15px;
            font-family: "Yeseva One", serif;
            font-size: 18px;   
            line-height: 42px;          
            text-align: center;
            color: $font-color;
        }
        
        &--first {          
          margin-top: 61px;          
        }

        &--second{
            margin-top: 69px;
            margin-left: 74px;
        }
        &--third{
          margin-top: 120px;
          margin-left: 98px;
        }
        &--fourth{          
          margin-top: 118px;
          margin-left: 32px;
        }
    }     
}

.fantasies {
    box-sizing: border-box;
    padding-left: 6.7%;
    padding-top: 8%;
    padding-right: 7%;    
    background: url("../images/bg_section_types_repair.png") no-repeat center 75%;        
    background-size: contain;       
    display: grid;        
    grid-template-columns: 1fr 28.6% 28.6%;
    grid-template-rows: 3.5% 19.5% 30.5% 23% 8%;
    grid-gap: 3.3%;
    grid-template-areas: 
        ". . fantasies3"
        "menu fantasies1 fantasies3"
        "menu fantasies1 fantasies4"
        "menu fantasies2 fantasies4";

    @media(max-width: $medium) {
        display: none;
    }
    
    &__item {
        width: 100%;
        height: auto;;
    }

    &__item--fantasies1 {
        grid-area: fantasies1
    }

    &__item--fantasies2 {
        grid-area: fantasies2
    }

    &__item--fantasies3 {
        grid-area: fantasies3
    }

    &__item--fantasies4 {
        grid-area: fantasies4
    }

    &-menu {
        grid-area: menu;
        margin-top: 12vw;
        
        @media (max-width: $huge){
            margin-top: 7vw;
        }
        
        @media (max-width: $large){
            margin-top: 5vw;
        }

        h2 {
            width: 300px;
            font-family: "Yeseva One", sans-serif;
            font-size: 27px;
            line-height: 37px;
            text-transform: uppercase;
            color: $font-color2;
            
            @media (max-width: $large){
                width: 250px;
                font-size: 24px;
                line-height: 34px;                
            }         
        }

        ul{
            padding: 0;
            padding-top: 2.5vw;
            list-style: none;
            
            @media (max-width: $huge){
                padding-top: 1.6vw;
            }

            @media (max-width: $large){                
                padding-top: 1vw;
            }   
        }

        &__item{
            padding-bottom: 1.06vw;
            @media (max-width: $huge){
                padding-bottom: 0.6vw;
            }

            @media (max-width: $large){                
                line-height: 30px;
                padding-bottom: 0.4vw;
            }     

            a{
                font-family: "Proxima Nova Cn Rg", sans-serif;
                font-size: 20px;
                line-height: 34px;
                text-decoration: none;
                letter-spacing: 1.6px;
                color: $font-color;     

                @media (max-width: $large){                
                    line-height: 30px;                    
                }     
            }

            &--active {
                a{
                    color: $font-color2;
                    padding-bottom: 5px;
                    border-bottom: 1px solid $font-color2;
                }
            }
        }
    }
}    